<div class="chairman-area ptb-100 pb-70 hth-100" id="chairman">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInDown">
        <div class="secTitle text-center">
          <span class="info_txt">We are Petrolink holding company</span>
          <h2 class="text-center mb-4">CHAIRMAN'S MESSAGE</h2>
          <span class="htxt_border"></span>
        </div>
      </div>
      <div class="col-md-5 wow fadeInLeft">
        <div class="img_bnr_">
          <img src="assets/img/ch.jpg" />
          <div class="sig_">
            <span>Mohammad Sultan
              <span>Chairman & Chief Executive Officer</span>
            </span>

          </div>
        </div>

      </div>

      <div class="col-md-7 wow fadeInRight">
        <p class="text-justify textIndent1">Dear colleagues, partners and stakeholders, </p>
        <p class="text-justify textIndent1">Demand for energy is continuously expanding in line with increasing world’s
          population & the developing economies. Oil and gas sector is expected to maintain its leading position
          in meeting growing energy needs across the globe. This will lead to significant supply requirements
          from both the upstream and downstream oil and gas sectors. Testing the DEPLOYMNET
        </p>
        <p class="text-justify textIndent1">Basically, our mission is to exploit lucrative opportunities in oil & gas
          sector and
          alternative sources of energies. We target to accomplish our mission through multiple channels
          including acquisitions, taking equity positions, joint ventures, and by participating in green-field
          projects.
        </p>
        <p class="text-justify textIndent1">Focusing on the said opportunities “Petrolink Holding Company” has been
          established to
          explore the growing energy demands and at the same time enhancing the economic development of the
          countries in which it operates.</p>
        <p class="text-justify textIndent1">Our primary goal is to generate capital gains and achieve superior returns
          for our
          investors. We have implemented an aggressive strategy which will make our organization a leading
          energy investment company with a core focus on the exploration and production in international oil &
          gas sector.</p>
        <p class="text-justify textIndent1">We have a vibrant & energetic team to make sure that our vision & mission is
          achieved
          through our positive contribution to a sustainable energy future for this region & the world.</p>
       
      </div>

    </div>
  </div>
</div>
