.custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #ffffff;
    margin: 0px 4px;
}

.page-number.current{
    background: #8dc63f!important;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0px 0px 3px #ffffff;
}

.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}

.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}
/***********/
.ptb-100 {
    padding: 60px 0;
}
.secTitle h2{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:44px;
    font-weight:normal;
}
.secTitle h2:before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: rgb(141, 198, 63);
    margin-bottom: 16px;
    margin-right: 20px;
}
.secTitle h2:after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: rgb(141, 198, 63);
    margin-bottom: 16px;
    margin-left: 20px;
}
.careers-area {
    background: #f5f5f5;
}
.price-list .description {
    padding: 10px 15px 0px 15px;
    margin: 0px;
    font-size: 14px;
}
.price-list .details {
    padding: 0px 15px;
    font-size: 14px;
    margin: 0px;
}
.locApply .button{
background: #8dc63f;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #8dc63f;
    font-weight: 600;
    margin-top: 2rem;
    display: inline-block;
    text-decoration:none !important;
}
.btnLink{
    background: #8dc63f;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #8dc63f;
    font-weight: 600;
    margin-top: 2rem;
    display: inline-block;
    text-decoration:none !important;
    width:100px;
}
.locApply .button:hover,.btnLink:hover{
    background: #fff;
    color: #8dc63f;
}

.single-price:hover{
    box-shadow: 0 0px 10px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
}
.hgtFixed{
    height:70px; overflow: hidden;
}
.noPrograms{
    color: #d5d5d5;
    text-align: center;
    font-size: 30px;
}
.fnt14px{
    font-size:14px
}
.custom-file-label,.custom-file-label:focus,.pInputs input,.pInputs input:focus,.carrInputs input,.carrInputs input:focus{
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 20px 0px;
    border-radius: 0px;
    margin: 10px 0px;
    outline:none;
    box-shadow:none;
}
.custom-file label{line-height:7px; color:#b6b6b6;}
.custom-file input:focus{
    outline:none;
    box-shadow:none;
}
.txtarea{
    border: 0px;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
    font-size: 16px;
    padding: 0px;
}
.showMsg{
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.showMsg .boxMsg{
     background: #fff;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    height: 150px;
    transform: translate(0%, 150%);
}
.mgtopm8px{margin-top:-8px;}
.txtsuccess{
    font-size: 28px;
    color: #476420;
    padding: 10px 0px 1px 0px;
    font-weight: 700;
}
.txtCenter{
    font-size: 20px;
    padding: 0px 0px 10px 0px;
}
.accordion > .card > .card-header{padding:0px;border: 0px;}
.accordion > .card {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}
.accordion .card-header a{
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    color: #599900;
    }
     legend{
    display: inline;
    width: auto;
    padding: 2px;
    margin-bottom: 0px;
}
fieldset{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
::placeholder {
  color: #b6b6b6;
}
.card-body {
    font-size: 16px;
}
fieldset .fa-calendar{
    position: absolute;
    top: 18px;
    right: 18px;
    z-index:100;
}
