<footer>
  <div class="footer-area gray-bg ptb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/img/footer_logo.svg" style="width: 170px; margin-bottom: 75px;" />
          <div class="">
            <div class="col-md-12">

              <div>
                <h3>Social Link</h3>
                <div class="contact-sochil-icon copyright-icon">
                  <a href="#" class="text_hide"><i class="zmdi zmdi-google"></i></a>
                  <a href="https://www.facebook.com/Petrolink-Holding-Company-114566143674442" target="blank"><i class="zmdi zmdi-facebook"></i></a>
                  <a href="https://twitter.com/petro_link" target="blank"><i class="zmdi zmdi-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/petrolink-holding-533b501b0/" target="blank"><i class="zmdi zmdi-linkedin"></i></a>
        
                </div>
              </div>

              <span style="font-size: 13px;" class="block text-justify text_hide">Petro Link Holding Company KSCC (PLH) was established in
                2007. The company has an authorized capital of KD 25,000,000/-. The company has exploited the growing
                markets opportunity...</span>
            </div>
          </div>
          
         
        </div>
        <div class="col-md-3">
          <h3>Quick Link</h3>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a  (click)="scrollToDiv('header')" class="nav-link menu-item" id="header_a">Home</a>
            </li>
             <li class="nav-item">
              <a (click)="scrollToDiv('about')" class="nav-link menu-item" id="about_a">About Us</a>
            </li>
            <li class="nav-item">
              <a (click)="scrollToDiv('chairman')"  class="nav-link menu-item" id="chairman_a">Chairman’s Message</a>
            </li>
           
            <li class="nav-item">
              <a (click)="scrollToDiv('subsidiaries')"  class="nav-link menu-item" id="subsidiaries_a">Subsidiaries</a>
            </li>
            <li class="nav-item">
              <a  (click)="scrollToDiv('projects')" class="nav-link menu-item" id="projects_a">Projects</a>
            </li>
            <li class="nav-item">
              <a  (click)="scrollToDiv('careers')" class="nav-link menu-item" id="careers_a">Careers</a>
            </li>
            <li class="nav-item">
              <a  (click)="scrollToDiv('contact')" class="nav-link menu-item" id="contact_a">Contact Us</a>
            </li>
          </ul>
        </div>
        

         
            
      <div class="col-md-6 contact-form">
        <div role="form" class="wpcf7 contact_form_" id="wpcf7-f4-p17-o1" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <h3>Write Us</h3>
            <form action="/demosd/mersal/#wpcf7-f4-p17-o1" method="post" class="wpcf7-form" novalidate="novalidate">
              <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="4">
                <input type="hidden" name="_wpcf7_version" value="4.9">
                <input type="hidden" name="_wpcf7_locale" value="en_US">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p17-o1">
                <input type="hidden" name="_wpcf7_container_post" value="17">
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                      aria-invalid="false" placeholder="Full Name"></span>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                      aria-required="true" aria-invalid="false" placeholder="Email"></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value=""
                      size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject"></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10"
                      class="wpcf7-form-control wpcf7-textarea contact-textarea" aria-invalid="false"
                      placeholder="Your Message"></textarea></span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                  <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit cont-submit">
                </div>
              </div>
              <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
          </div>
        </div>
      </div>

             
         


        
      </div>
      <div class="row mt-1">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="copyright-left text-left">
            <span style="    font-size: 12px;">© Petrolink 2020 - All rights reserved.</span>
          </div>
        </div>


      </div>
    </div>
  </div>
</footer>