<div class="projects-area ptb-100 pb-70 hth-100" id="subsidiaries">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2>SUBSIDIARIES</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>CK Drilling</h3>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <!--<p><a href="http://ckdrilling.com/" target="_blank">More Details</a></p> -->
              <p> <a id="medium" data-toggle="modal" href="#ckDrilling" data-target="#ckDrilling">More Details</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>KAC Trading Co</h3>
              <p>KACT works with business partners in China to introduce, promote and sell their products and services in Kuwait. KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes, Valves and Fittings to Drilling Rigs and Offshore Drilling Services.</p>                                                                                
            <!-- <p><a href="http://kact.com/" target="_blank">More Details</a></p> --> 
              <p> <a id="medium" data-toggle="modal" href="#kacTradingCo" data-target="#kacTradingCo">More Details</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>CK Drilling</h3>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p> <a id="medium" data-toggle="modal" href="#ckDrilling1" data-target="#ckDrilling1">More Details</a> </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="modal fade" id="ckDrilling" tabindex="-1" role="dialog"
		aria-labelledby="ckDrilling" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">CK Drilling</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding:10px 0px 10px 0px;">
					<div class="col-md-12 input-group" style="padding:0px;">
						<div class="col-md-12">
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p><a href="http://ckdrilling.com/" target="_blank">http://ckdrilling.com/</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  
  <div class="modal fade" id="kacTradingCo" tabindex="-1" role="dialog"
		aria-labelledby="kacTradingCo" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">KAC Trading Co</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding:10px 0px 10px 0px;">
					<div class="col-md-12 input-group" style="padding:0px;">
						<div class="col-md-12">
              <p>KACT works with business partners in China to introduce, promote and sell their products and services in Kuwait. KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes, Valves and Fittings to Drilling Rigs and Offshore Drilling Services.</p>
              <p>KACT works with business partners in China to introduce, promote and sell their products and services in Kuwait. KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes, Valves and Fittings to Drilling Rigs and Offshore Drilling Services.</p>
              <p><a href="http://ckdrilling.com/" target="_blank">http://kact.com/</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
  
  <div class="modal fade" id="ckDrilling1" tabindex="-1" role="dialog"
		aria-labelledby="ckDrilling1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">CK Drilling</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding:10px 0px 10px 0px;">
					<div class="col-md-12 input-group" style="padding:0px;">
						<div class="col-md-12">
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p><a href="http://ckdrilling.com/" target="_blank">http://ckdrilling.com/</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>  
