<div class="projects-area ptb-100 pb-70 hth-100" id="subsidiaries">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="secTitle text-center">
          <span class="info_txt">We Are PetrolLink Holding Company</span>
          <h2 class="text-center mb-4">SUBSIDIARIES</h2>
          <span class="info_txt text_hide">Petro Link Holding Company KSCC (PLH) was Established in
            2007. THe Company has an authorized Capital of KD 25,000,000/-</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="img_logo_">
          <img src="./assets/img/ckdlogo.svg" />
        </div>
        <div class="logo_infotxt">
          <h3>CK Drilling Company</h3>
          <p><a href="http://ckdrilling.com/" target="_blank">CK Drilling Company (CKD)</a> was established based on
            PetroLink’s strategy that focuses on taking active participation in Kuwait Development Plan.</p>
          <p>CKD is awarded, two KOC workover contracts to participate in country’s Oil & Gas development program.</p>
          <p>Our strategy is to have a significant role and part in KOC aggressive expansion of drilling programs for
            its
            onshore and offshore drilling activities and related oil services to help and assist in achieving and
            realizing
            their 2040 oil strategy.</p> 
            <span class="block"><a href="http://ckdrilling.com/" target="_blank"><i style="color: #7fcc28;" class="fa fa-lg fa-globe" aria-hidden="true"></i> http://ckdrilling.com/</a></span>
        </div>
      </div>
      <div class="col-md-12 mb-5">        
        <div class="logo_infotxt rt_">
          <h3>Kuwait and China Trading Company (KACT)</h3>
          <p><a href="http://kact.com/" target="_blank">Kuwait and China Trading Company (KACT)</a> is a subsidiary of
            PetroLink Holding Company.</p>
          <p>KACT works with business partners in China to introduce, promote and sell their products and services in
            Kuwait.
            KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes,
            Valves and
            Fittings to Drilling Rigs and Offshore Drilling Services.</p>
            <span class="block"><a href="http://kact.com/" target="_blank"><i style="color: #7fcc28;" class="fa fa-lg fa-globe" aria-hidden="true"></i> http://kact.com/</a></span>
        </div>
        <div class="img_logo_">
          <img src="./assets/img/chinakuwaitlogo.svg" />
        </div>
      </div>
      <div class="col-md-12 mb-5">
        <div class="img_logo_">
         <span class="temp_"> Logo here </span>          
        </div>
        <div class="logo_infotxt">
          <h3>Circle Link Limited</h3>
          <p><a href="#CircleLink">Circle Link S.à r.l.</a> (hereafter the "Company") was incorporated on June 5, 2007,
            and is
            organised under the laws of Luxembourg as a Société à Responsabilité Limitée for an unlimited period. The
            registered office of the Company is established at 121, avenue de la Faïencerie L-1511 Luxembourg. Circle
            Link
            Limited is 100% owned subsidiary of Petrolink Holding Company.</p>
            <span class="block"><a href="#CircleLink" target="_blank"><i style="color: #7fcc28;" class="fa fa-lg fa-globe" aria-hidden="true"></i> http://CircleLink.com/</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

  
 
