<div class="projects-area ptb-100 pb-70" id="subsidiaries">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2>SUBSIDIARIES</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>CK Drilling</h3>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p><a href="http://ckdrilling.com/" target="_blank">More Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>KAC Trading Co</h3>
              <p>KACT works with business partners in China to introduce, promote and sell their products and services in Kuwait. KACT portfolio ranges from Electric Cables to Transformers, Explosion Proof Motors to Gen-Sets, Pipes, Valves and Fittings to Drilling Rigs and Offshore Drilling Services.</p>                                                                                
              <p><a href="http://kact.com/" target="_blank">More Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4  col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="single-about mb-30 text-center">
            <div class="about-text">
              <h3>CK Drilling</h3>
              <p>CK Drilling is company riding a journey to excellence. CK Drilling provides a wide range of world-class well-drilling and related services to the oil gas extractive industries. The company engages in medium and shallow drilling activities, also work-over services that enhance the productivity of existing oil wells.</p>
              <p><a href="http://ckdrilling.com/" target="_blank">More Details</a></p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-md-12" style="text-align: right;">
          <a class="moreDetails">More...</a>
        </div>
      </div>-->
      
    </div>
  </div>