<div class="header-container">
    <div class="video-container">
      <video preload="true" id="video" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="./assets/petrolink.mp4" type="video/mp4">
      </video>
    </div>
    <div class="header-content">
      <h2>Our values are <span id="typed"></span><span class="cursor"></span></h2>
      <h3>Petrolink Holding</h3>
      <a class="viewMoreButton" id="medium" data-toggle="modal" href="#homeViewMore" data-target="#homeViewMore">View More</a>
     <!--<a class="viewMoreButton">View More</a> --> 
    </div>
    <div class="header-footer">
      <a (click)="videoPlayClick()"><i class="fa fa-play"></i></a>
      <a (click)="videoPauseClick()"><i class="fa fa-pause"></i></a>
    </div>
</div>

<div class="modal fade" id="homeViewMore" tabindex="-1" role="dialog"
		aria-labelledby="homeViewMore" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Vision, Mission and Values Statement</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
        <div class="modal-body">          
          <img class="" style="width: 100%;" src="./assets/img/projects/project2.jpg" />
            <div class="modalBodyContent">
              <p style="text-decoration:underline;font-weight:bold;">Vision</p>
              <p>To be an international and domestic leader in offering world class and value-added products & services in oil, gas & energy sectors. 
              </p>
              <p style="text-decoration:underline;font-weight:bold;">Mission</p>
              <p>Our mission is to exploit lucrative opportunities in oil & gas sector. We will target to accomplish our mission through multiple channels including acquisitions, taking equity positions, joint ventures, and by participating g in green-field projects. We also, thrive to excel in our future targeted endeavors and potential projects in energy sector.
              </p>
              <p style="text-decoration:underline;font-weight:bold;">Values</p>
              <p>Our Values are:</p>
              <ul class="vcircle">
                <li>Integrity</li>
                <li>Integrity</li>
                <li>Ownership</li>
                <li>Teamwork</li>
                <li>Credibility</li>
              </ul>  
            </div>
				</div>
			</div>
		</div>
  </div>