<div class="video-area bg-opacity-1 bg-img-2 ptb-150" data-stellar-background-ratio="0.6" 
    style="background: url(&quot;./assets/img/oil-and-gas.jpg&quot;) 50% -32px / cover no-repeat scroll rgba(0, 0, 0, 0);">
    <div class="container">
        <div class="row">
			<div class="col-sm-12">
				<div class="video-inner text-center">
                    <a class="video-play mfp-iframe">
						<i class="fa fa-play"></i>
					</a>
					<h2 style="color: #FFF;margin-top: 15px;">We are petrolink</h2>
					<h3>I watched the storm so beautiful yet terrific.A shining crescent far beneath the flying vessel.watched the storm so beautiful yet terrific. the beautiful yet terrific.</h3>
				</div>
			</div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>