<div class="projects-area ptb-100 pb-70" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2>PROJECTS</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 image-block">
          <img src="./assets/img/projects/project1.jpg" class="images image1"/>
          <p class="centered" data-toggle="modal" data-target="#modal1">Project Name</p>
        </div>
        <div class="col-md-4 image-block">
          <img src="./assets/img/projects/project2.jpg" class="images image1"/>
          <p class="centered" data-toggle="modal" data-target="#modal1">Project Name</p>
        </div>
        <div class="col-md-4 image-block">
          <img src="./assets/img/projects/project3.jpg" class="images image1"/>
          <p class="centered" data-toggle="modal" data-target="#modal1">Project Name</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: right;">
          <a class="moreDetails">More...</a>
        </div>
      </div>
    </div>
  </div>