.ptb-100 {   
    background-image: url(../../assets/img/bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.textIndent1{     color: #555555;font-size: 14px;  line-height: 21px;}
.secTitle { margin-bottom: 20px;}
.secTitle h2{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 !important;
    color: #000;
}
.secTitle .info_txt{
    font-size: 11px;
    color: #565455;
}
.secTitle .info_txt_{
    color:#565455;
}
/*
.secTitle h2:before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 55px;
    background-color: rgb(141, 198, 63);
    position: relative;
    top: 15px;
    left: 47px;
    margin-right: -60px
} */
.hgt250{
    min-height:250px;
}
.imageBlock .text{color:#fff;}
.imageBlock{position:relative; overflow:hidden;}
.imageBlockHover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    top: 0px;
    color: #fff;
    text-align: center;
    padding-top: 8rem;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
.imageBlock:hover img{    -webkit-transform: scale(1.25);
    transform: scale(1.25);-webkit-transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;}
.imageBlock:hover .imageBlockHover{display:block; opacity: 1;}
.imageBlockHover h3{
    font-size: 20px; font-weight:600;margin-bottom: 15px;
}
.vismis{
    font-size: 22px;
    margin-bottom: 12px !important;
}
 
.slider_container {
    background-color: #fff;
    height: 100%;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    height: 100%;
    border-radius: 6px;    
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

 
.pro_slider{
    padding: 15px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro_slider h4{ font-size: 26px; padding-bottom: 10px; margin-top: 26%; margin-left: 5%;}

.pro_slider p{ font-size: 18px; margin-left: 5%;}

@media only screen and (max-width: 1024px) {
    .svg_crve, .carousel-control-prev-icon, .carousel-control-next-icon {
        display: none;
    }
    .carousel.pointer-event {
        overflow: hidden;
    }
  }
.svg_crve {
    position: absolute;
    top: 0px;
    left: -52px;
}
.carousel-item.active {
    border: none;
    border-radius: 5px 0 0px 5px;
    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; 
}

 
.carousel-control-prev {
    left: -31px;
}
.carousel-control-next {
    right: -31px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.carousel-control-next-icon:after
{
  content: '🡒';
  font-size: 35px;
  color: #9a9a9a;
  top: 3px;
  position: relative;
}

.carousel-control-prev-icon:after {
  content: '🡐';
  font-size: 35px;
    color: #9a9a9a;
    top: 3px;
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    left: 14px;
    top: 0;
}

.click-btn {
    position: absolute;
    bottom: 0;
    text-align: center;
    text-shadow: 0 0 0 #282828;   
    opacity: 0.7;  
}
.click-btn {
    opacity: 1;
    transition: all .3s ease 0s;
}


.click-btn i { 
    color: #989898;
    cursor: pointer;
    font-size: 27px;
    margin: 0 2px;
    text-shadow: 0px 1px 0 #00000033;
}
.click-btn i.active_ { 
    color: #8dc63f;
}