<div class="projects-area ptb-100 pb-70 hth-100" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="secTitle text-center">
          <span class="info_txt">We Are PetrolLink Holding Company</span>
          <h2 class="text-center mb-4">PROJECTS</h2>
          <span class="info_txt text_hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="slider_container">
          <img src="../../assets/img/slide-1.jpg" />
          <div>
            <p class="textIndent1 text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
              centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
              recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>
      </div>
    </div>
  </div>