<div class="about-area ptb-100 pb-70 hth-100" id="about">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="secTitle text-center">
                                        <span class="info_txt">We Are PetrolLink Holding Company</span>
                                        <h2 class="text-center mb-4">ABOUT US</h2>
                                        <span class="info_txt text_hide">Petro Link Holding Company KSCC (PLH) was
                                                Established in
                                                2007. THe Company has an authorized Capital of KD 25,000,000/-</span>

                                </div>
                                <div class="row">
                                        <div class="col-md-5">
                                                <div class="img_bnr ">

                                                        <span><img src="assets/img/pic1.jpg" /></span>
                                                </div>

                                        </div>
                                        <div class="col-md-7">
                                                <p class="text-justify textIndent1">
                                                        The company has exploited the growing markets opportunity for
                                                        energies by taking equity positions, acquisitions, joint
                                                        ventures, and by participating in green-field projects. Since
                                                        establishment, PLH has always been an opportunity seeker and
                                                        actively looking for investment options in the international oil
                                                        & gas sector, non-conventional oil, and alternative energy
                                                        industries.
                                                </p>
                                                <p class="text-justify textIndent1">
                                                        PLH has established peer to peer connection with all of its
                                                        subsidiaries to maintain a professional decorum. The calibration
                                                        of focus helps the company to keep striving towards its Vision &
                                                        Mission.
                                                </p>
                                                <p class="text-justify textIndent1">
                                                        PLH has acquire the knowledge and the know-how in drilling &
                                                        related Oil & Gas services, and maintain a local experience to
                                                        perform future drilling projects & related businesses on its
                                                        own. PLH, through its subsidiaries, has built connection with
                                                        manufacturers & organizations who can supply content / material
                                                        to Oil & Gas sector and can start trading their products in said
                                                        line of business.
                                                </p>
                                                <div class="htxt_value_ text_hide">
                                                        <div class="htxt_">
                                                                <span>13&#43;</span>
                                                                Years Experience
                                                        </div>
                                                        <div class="htxt_">
                                                                <span>36</span>
                                                                Industries Served
                                                        </div>
                                                        <div class="htxt_">
                                                                <span>36</span>
                                                                Factories Built
                                                        </div>
                                                </div>

                                        </div>


                                        <div class="mt-bg">
                                                <div class="icon_bg">
                                                        <span class="vision_"></span>
                                                </div>
                                                <div class="vision_txt" style="padding-top: 35px;">
                                                        <h2>Our Vision </h2>
                                                        <p>
                                                                To be an international and domestic leader in offering
                                                                world class and value-added products & services
                                                                in oil, gas & energy sectors.
                                                        </p>
                                                </div>
                                        </div>


                                        <div class="mt-bg">



                                                <div class="vision_txt">
                                                        <h2>Our Mission </h2>
                                                        <p style="padding-right: 20px;">
                                                                Our mission is to exploit lucrative
                                                                opportunities in oil
                                                                & gas sector. We will target to accomplish our
                                                                mission
                                                                through multiple channels including
                                                                acquisitions, taking
                                                                equity positions, joint ventures, and by
                                                                participating g
                                                                in green-field projects. We also, thrive to
                                                                excel in our
                                                                future targeted endeavors and potential projects
                                                                in
                                                                energy sector.
                                                        </p>
                                                </div>
                                                <div class="icon_bg">
                                                        <span class="mission_"></span>
                                                </div>


                                        </div>


                                        <div class="mt-bg">

                                                <div class="icon_bg">
                                                        <span class="values_"></span>
                                                </div>



                                                <div class="vision_txt">
                                                        <h2>Our Values</h2>
                                                        <div class="">


                                                                <ul class="icons_list">
                                                                        <li><i class="inte_"></i>Integrity</li>
                                                                        <li><i class="reli_"></i>Reliability</li>
                                                                        <li><i class="Own_"></i>Owenership</li>
                                                                        <li><i class="tea_"></i>Teamwork</li>
                                                                        <li><i class="cre_"></i>Credibility</li>
                                                                </ul>
                                                        </div>
                                                </div>

                                        </div>



                                </div>




                        </div>
                </div>
        </div>
</div>