<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="subTitle">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/logopetrolink.svg"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a  (click)="scrollToDiv('header')" class="nav-link menu-item active" id="header_a">Home</a>
          </li>
           <li class="nav-item">
            <a  (click)="scrollToDiv('about')" class="nav-link menu-item" id="about_a">About Us</a>
          </li>
          <li class="nav-item">
            <a  (click)="scrollToDiv('chairman')" class="nav-link menu-item" id="chairman_a">Chairman’s Message</a>
          </li>
         
          <li class="nav-item">
            <a  (click)="scrollToDiv('subsidiaries')" class="nav-link menu-item" id="subsidiaries_a">Subsidiaries</a>
          </li>
          <li class="nav-item">
            <a #projects (click)="scrollToDiv('projects')" class="nav-link menu-item" id="projects_a">Projects</a>
          </li>
          <li class="nav-item">
            <a #careers (click)="scrollToDiv('careers')" class="nav-link menu-item" id="careers_a">Careers</a>
          </li>
          <li class="nav-item">
            <a #contact (click)="scrollToDiv('contact')" class="nav-link menu-item" id="contact_a">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
