<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="header"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img style="width: 150px;height: 50px;" src="./assets/img/logopetrolink.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a (click)="scrollToDiv('header')" class="nav-link menu-item active" id="header_a">Home</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToDiv('about')" class="nav-link menu-item" id="about_a">About</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToDiv('subsidiaries')" class="nav-link menu-item" id="subsidiaries_a">Subsidiaries</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToDiv('projects')" class="nav-link menu-item" id="projects_a">Projects</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToDiv('careers')" class="nav-link menu-item" id="careers_a">Careers</a>
        </li>
        <li class="nav-item">
          <a (click)="scrollToDiv('contact')" class="nav-link menu-item" id="contact_a">ContactUs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<div class="" id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <nav class="navbar navbar-fixed-top navbar-expand-md">
          <a href="#" class="navbar-brand">
            <img style="width: 30%;" src="../assets/img/logopetrolink.png"/>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav ml-auto">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a (click)="scrollToDiv('header')" class="nav-link menu-item" id="menu-item header_a">Home</a></li>
                    <li class="nav-item"><a (click)="scrollToDiv('about')" class="nav-link menu-item" id="menu-item about_a">About</a></li>
                    <li class="nav-item"><a (click)="scrollToDiv('subsidiaries')" class="nav-link menu-item" id="menu-item subsidiaries_a">Subsidiaries</a></li>
                    <li class="nav-item"><a (click)="scrollToDiv('projects')" class="nav-link menu-item" id="projects_a">Projects</a></li>
                    <li class="nav-item"><a (click)="scrollToDiv('careers')" class="nav-link menu-item" id="careers_a">Careers</a></li>
                    <li class="nav-item"><a (click)="scrollToDiv('contact')" class="nav-link menu-item" id="contact_a">ContactUs</a></li>
                  </ul>
              </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>-->

<div class="header-container">
  <div class="video-container">
    <video preload="true" id="video" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="./assets/petrolink.mp4" type="video/mp4">
    </video>
  </div>
  <div class="header-content">
    <h2>We Love to <span id="typed"></span><span class="cursor"></span></h2>
    <h3>Petrolink Holding</h3>
    <a class="viewMoreButton">View More</a>
  </div>
  <div class="header-footer">
    <a (click)="videoPlayClick()"><i class="fa fa-play"></i></a>
    <a (click)="videoPauseClick()"><i class="fa fa-pause"></i></a>
  </div>
</div>



<!--ABOUTUS-->
<app-aboutus></app-aboutus>

<!--SUBCIDARY-->
<app-subsidaries></app-subsidaries>

<!--PROJECTS-->
<app-projects></app-projects>

<!-- CARREERS -->
<app-careers></app-careers>

<!-- CONTACT -->
<app-contactus></app-contactus>

<!-- FOOTER -->
<app-footer></app-footer>

<a id="scrollUp" (click)="scrollToDiv('header')" style="position: fixed; z-index: 2147483647; display: block;"><i class="zmdi zmdi-chevron-up"></i></a>




<router-outlet></router-outlet>