<div class="contact-area sec_pt" id="contact">
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInDown">
        <div class="secTitle text-center" >
          <span class="info_txt">We are Petrolink holding company</span>
          <h2 class="text-center text-uppercase mb-4">Contact Us</h2>
          <span class="info_txt text_hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </div>
      </div>
    </div>
    <div class="row">
   <div class="col-md-12 contact_form_txt">
        <div class="row mb-2">
          <div class="col-md-4 wow fadeInLeft no-padding_">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p style="padding-top:17px;"> info@petrolinkholding.com </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown  no-padding_">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p style="padding-top:10px;">Phone : +965-22462555<br><span>Fax : +965-22469144</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 wow fadeInRight no-padding_">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p style="padding-top: 10px;"> 11th Floor, Mubarak Al Kabeer Tower,<br>
                  <span style="white-space: nowrap;">Mubarak Al Kabeer St, P.O.Box: 1878 Safat 13089, Kuwait</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="map_container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.8271227430578!2d47.975921513712706!3d29.375350684171906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf84eb8fadffe5%3A0xccf09a2ef3d05cbb!2sCaribou+Coffee!5e0!3m2!1sen!2s!4v1457215961725"
      width="100%" height="350" frameborder="0" style="border: 0" allowfullscreen></iframe>
  </div>
  
</div>