<div class="contact-area ptb-100" id="contact">
    <div class="container">
      
       <div class="row">
      <div class="col-md-12">
       <div class="secTitle">
    <h2 class="text-center mb-4">Contact Us</h2>
        <div>
        </div>
</div>
      <div class="row">
        <div class="col-md-4">	 
                  <div class="contact-icon text-center">
                      <div class="single-icon">
                          <i class="fa fa-envelope-o"></i>
                          <p>Email : info@petrolinkholding.com
                          </p>
                      </div>
                  </div>
              </div> 
              <div class="col-md-4  ">
                  <div class="contact-icon text-center">
                      <div class="single-icon">
                          <i class="fa fa-mobile"></i>
                              <p>Call : +965-22462555<br><span>Fax: +965-22469144</span></p>
                      </div>
                  </div>
        </div>
        <div class="col-md-4">
                  <div class="contact-icon text-center">
                      <div class="single-icon">
                          <i class="fa fa-map-marker"></i>
                          <p>
                            Location : 11th Floor, Mubarak Al Kabeer Tower,<br><span>Mubarak Al Kabeer St Sharq, Kuwait</span>
                          </p>
                      </div>
                  </div>
        </div>
        <div class="col-md-6 mt-4">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.8271227430578!2d47.975921513712706!3d29.375350684171906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf84eb8fadffe5%3A0xccf09a2ef3d05cbb!2sCaribou+Coffee!5e0!3m2!1sen!2s!4v1457215961725"
              width="100%" height="400" frameborder="0" style="border: 0"
              allowfullscreen></iframe>
        </div>
        <div class="col-md-6  contact-form mt-4">
          <div role="form" class="wpcf7" id="wpcf7-f4-p17-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response">
              <form action="/demosd/mersal/#wpcf7-f4-p17-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="4">
                  <input type="hidden" name="_wpcf7_version" value="4.9">
                  <input type="hidden" name="_wpcf7_locale" value="en_US">
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p17-o1">
                  <input type="hidden" name="_wpcf7_container_post" value="17">
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name"></span>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"></span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject"></span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea contact-textarea" aria-invalid="false" placeholder="Message"></textarea></span>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <input type="submit" value="Message" class="wpcf7-form-control wpcf7-submit cont-submit">
                  </div>
                </div>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
