.ptb-100 {
    padding: 60px 0;
}
.secTitle h2{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size:44px;
    font-weight:normal;
}
.secTitle h2:before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: rgb(141, 198, 63);
    margin-bottom: 16px;
    margin-right: 20px;
}
.secTitle h2:after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 80px;
    background-color: rgb(141, 198, 63);
    margin-bottom: 16px;
    margin-left: 20px;
}
.contact-area{
    background: #333;
    color: #fff;
}
.contact-icon p{
    color:#fff;
}
.contact-form form input,.contact-form form input:focus,.contact-form form textarea,.contact-form form textarea:focus {
    background: transparent;
    border: 0px solid #aba8a8;
    border-radius: 0px;
    padding-left: 0px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight:400;
    outline:none;
    box-shadow:none;
    font-size:16px;
}
.contact-form form input::placeholder,.contact-form form textarea::placeholder{
color:#fff;
font-weight:400;
}
