<div id="header"></div>

<!-- Header Navbar -->
<app-header-nav></app-header-nav>

<!--VIDEO-->
<app-video-banner></app-video-banner>

<!--ABOUTUS-->
<app-aboutus></app-aboutus>
<!--CHAIRMAN MESSAGE-->
<app-chairman></app-chairman>



<!--Youtube Video-->
<!-- <app-homepage-youtube></app-homepage-youtube> -->

<!--SUBCIDARY-->
<app-subsidaries></app-subsidaries>

<!--PROJECTS-->
<app-projects></app-projects>

<!-- CARREERS -->
<app-careers></app-careers>

<!-- CONTACT -->
<app-contactus></app-contactus>

<!-- FOOTER -->
<app-footer></app-footer>

<a *ngIf="isShow" (click)="gotoTop()" class="scrollTop">
<i class="zmdi zmdi-chevron-up"></i>
</a>

