<div id="header"></div>

<!-- Header Navbar -->
<app-header-nav></app-header-nav>

<!--VIDEO-->
<app-video-banner></app-video-banner>

<!--ABOUTUS-->
<app-aboutus></app-aboutus>

<!--SUBCIDARY-->
<app-subsidaries></app-subsidaries>

<!--PROJECTS-->
<app-projects></app-projects>

<!-- CARREERS -->
<app-careers></app-careers>

<!-- CONTACT -->
<app-contactus></app-contactus>

<!-- FOOTER -->
<app-footer></app-footer>

<a id="scrollUp" (click)="scrollToDiv('header')" style="position: fixed; z-index: 2147483647; display: block;"><i class="zmdi zmdi-chevron-up"></i></a>